@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.24;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFCEF;
}

main {
  height: 100%;
  margin: auto;
}

#root {
  height: 100%;
}
