@import '../../theme.scss';

.home {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 16px 16px 32px;
  position: relative;
  width: 100%;
}

.home-prompt {
  font-family: 'Work Sans', sans-serif;
}

.home-prompt + .home-actions {
  margin-top: 16px;
}

.home-actions {
  margin-bottom: auto;
}
