// THESE STYLES ARE BEING USED BY PayslipFormBreakdown AND PayslipFormInfo AT THE MO SO PLEASE REFACTOR

$grid-columns: 50% 50%;
$primary-colour: #FFFCEF;
$secondary-colour: navajowhite;
$contrast-colour: darkolivegreen;
$border: 1px solid $contrast-colour;

$subtotal-bg-colour: #efece1;
$total-bg-colour: #d6d3c7;

#main {
  height: 100%;
  padding: 1em 1em 2em;
}

section {
  border-bottom: $border;
}

section + section {
  margin-top: 2em;
}

.title {
  margin-top: 0;
  font-size: 1.5em;
  line-height: 1.7em;
}

.label {
  display: flex;
  align-items: center;
  padding: 0.5em;
  // padding-left: 1em;
  border-top: $border;
  border-left: $border;

  &.subtotal {
    background-color: $subtotal-bg-colour;
  }

  &.total {
    background-color: $total-bg-colour;
  }
}

.input {
  display: flex;
  align-items: center;
  padding: 0.5em;
  border-top: $border;
  border-left: $border;
  border-right: $border;
}

.input-field {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  font: inherit;
  resize: none;

  &[type="number"] {
    text-align: right;
  }
}


#earnings,
#deductions,
#additions,
#final {
  position: relative;
  grid-template-columns: $grid-columns;
  display: grid;
	// margin-bottom: 0;
  // border-bottom: none;
  border-bottom: $border;
  background-color: $primary-colour;

  .label {
    grid-column: 1 / 2;
  }

  .input {
    grid-column: 2 / 3;
  }
}

#earnings {
	grid-template-rows: repeat(5, 1fr);
}

#deductions {
	grid-template-rows: repeat(4, 1fr);
}

#additions {
	grid-template-rows: repeat(2, 1fr);
}

#final {
  margin-bottom: 2em;
  border-bottom: $border;
}

.header {
  grid-column: 1 / 3;
	grid-row: 1;
  display: flex;
	justify-content: center;
	padding: 0.5em 1em;
  align-items: center;
  border-top: $border;
  border-left: $border;
  border-right: $border;
  text-transform: uppercase;
}

.output {
  display: flex;
  align-items: center;
  grid-column: 2 / 3;
  padding: 0.5em;
  border-top: $border;
  border-left: $border;
  border-right: $border;

  span {
    // padding-right: 0.5em;
    text-align: right;
    width: 100%;
  }

  &.subtotal {
    background-color: $subtotal-bg-colour;
  }

  &.total {
    background-color: $total-bg-colour;
  }
}

.radio-label {
  grid-column: 1 / 2;
  display: flex;
  align-items: flex-start;
  padding: 0.5em;
  border-top: $border;
  border-left: $border;
}

.radio-choices {
  grid-column: 2 / 3;
  border-top: $border;
  border-left: $border;
  border-right: $border;
}

.radio-choice {
	padding: 0 0.5em;
}

.radio-choice + .radio-choice {
	border-top: $border;
}

.radio-choice-field {
	margin: 0;
	margin-top: 1em;
	vertical-align: top;
}

.radio-choice-label {
	display: inline-block;
  padding: 0.5em;
  padding-right: 0;
}

.infoTable {
  position: relative;
  display: grid;
  grid-template-columns: $grid-columns;
  background-color: $primary-colour;

  .label {
    grid-column: 1 / 2;
  }

  .input {
    grid-column: 2 / 3;
  }
}

#rightMiddle .input-field {
	text-align: right;	
}

section.details > div:nth-last-child(n + 1) {
  border-bottom: $border;
}

.signature {
  grid-column: 1 / span 2;
  padding: 0.5em 1em 6em;
  border-top: $border;
  border-left: $border;
  border-right: $border;
}

#nextSteps {
  align-items: flex-start;
	border: 0;
  cursor: pointer;
  display: flex;

  a {
    color: inherit;
    text-decoration: none;
  }
}

.formButton {
	border-right: $border;
	color: $primary-colour;
	background-color: $contrast-colour;
  cursor: pointer;
  width: 100%;

  a,
  button {
    display: block;
    padding: 1em;
    text-align: inherit;
    width: 100%;
  }
  
  & + & {
    margin-left: 1em;
  }
	
	&:active {
		background-color: black;
  }

  &:nth-child(2n) {
    text-align: right;
  }
}
