.privacy-policy {
    padding: 16px 16px 32px;

    p {
        color: #000000;
        font-family: 'Work Sans', sans-serif;
        font-size: 1em;
        line-height: 1.4em;
    }

    a {
        color: #000000;
    }
}