@import '../../theme.scss';

.email-sent {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 16px 16px 32px;
  position: relative;
  width: 100%;
}

.email-sent-text {
  font-family: 'Work Sans', sans-serif;
}

.email-sent-text + .email-sent-actions {
  margin-top: 16px;
}

.email-sent-actions {
  margin-bottom: auto;
}
